<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="showmap">
      <ion-icon name="earth"></ion-icon>
      <ion-label>Show Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feeds">
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-label>Feeds</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
